.left {
  flex: 1;
  width: 500px;
  height: 500px;
  background-image: url("./Images/left.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5%;
}

.mid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: auto;
  gap: 10px;
  background-color: palegreen;
}

/* 메시지 컨테이너 스타일 */
.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.user {
  background-color: #e0ffe0; /* 사용자 메시지 배경색 */
  align-self: flex-end; /* 오른쪽 정렬 */
  text-align: right; /* 텍스트 오른쪽 정렬 */
  display: inline-block; /* 메시지 길이에 따라 자동으로 크기 조정 */
  max-width: 60%; /* 최대 너비 설정 */
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
}

.bot {
  background-color: #f0f0f0; /* 챗봇 메시지 배경색 */
  align-self: flex-start; /* 왼쪽 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  display: inline-block; /* 메시지 길이에 따라 자동으로 크기 조정 */
  max-width: 60%; /* 최대 너비 설정 */
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
}
.message {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.input-container {
  position: absolute;
  left: 50%;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 35%;
  width: 23%;
}

.right {
  flex: 1;
  width: 500px;
  height: 500px;
  background-image: url("./Images/right.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5%;
}

.wrap {
  display: flex;
}

.logo {
  margin-left: 5%;
}


.question {
  display: inline-block;
  margin-left: 10%;
}

.headBtn {
  position: absolute;
  left: 54%;
}
.logo {
  margin-left: 40%;
}