.button {
    display: inline-block;
    padding: 5px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    background-color: #218838;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.3);
}

.button:active {
    background-color: #218838;
    border-color: #218838;
}

.left {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8%;
}

.mid {
    display: flex;
    flex-direction: column-reverse; /* 최신 메시지가 아래로 쌓이도록 역순으로 정렬 */
    justify-content: flex-start; /* 메시지가 위쪽부터 쌓이도록 설정 */
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto; /* 스크롤 가능 */
    gap: 10px; /* 메시지 간격 */
    background-color: palegreen;
}

/* 메시지 컨테이너 스타일 */
.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user, .bot {
    position: relative; /* 아이콘의 절대 위치를 조정할 기준이 되게 함 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    gap: 5px; /* 텍스트와 시간 사이의 간격 */
    max-width: 60%; /* 최대 너비 설정 */
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
}

.user {
    background-color: #e0ffe0; /* 사용자 메시지 배경색 */
    align-self: flex-end; /* 오른쪽 정렬 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
}

.bot {
    background-color: #f0f0f0; /* 챗봇 메시지 배경색 */
    align-self: flex-start; /* 왼쪽 정렬 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.userIcon, .botIcon {
    position: absolute; /* 절대 위치 설정 */
    top: -20px; /* 메시지 박스 위로 나가게 조정 */
    /*left: -35px; /* 메시지 박스 왼쪽으로 나가게 조정 */
    background-size: cover; /* 이미지가 요소를 덮도록 설정 */
    width: 30px; /* 원하는 크기로 설정 */
    height: 30px; /* 원하는 크기로 설정 */
    border-radius: 50%; /* 원형 이미지 */
}
.userIcon {
    alignItems: 'center';
    right: 0; /* 오른쪽 끝으로 정렬 */
    background-image: url("./Images/user.png");
}

.botIcon {
    alignItems: 'center';
    left: 0; /* 왼쪽 끝으로 정렬 */
    background-image: url("./Images/bot.png");
}

.timestamp {
    font-size: 12px; /* 작은 글씨 크기 */
    color: #666; /* 회색으로 설정 */
}

.input-container {
    position: absolute;
    left: 50%;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 35%;
    width: 23%;
}

.right {
    flex: 1;
    width: 500px;
    height: 500px;
    background-image: url("./Images/right.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 5%;
}

.wrap {
    display: flex;
}

.logo {
    margin-left: 5%;
}

.body {
    margin-top: 0;
}

.question {
    display: inline-block;
    margin-left: 10%;
}

.headBtn {
    position: absolute;
    left: 52.5%;
}