
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    
  }
  
  .inputGroup {
    margin-bottom: 15px;
    margin-right: 100%;
  }
  
  .input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
  }
.signInBtn {
  text-align: center;
}
.signUpBtn {
  text-align: center;
  margin-top: 20px;
}
.logo {
  margin-left: 39%;
  padding-top: 5%;
}